/*--------------------*/
/*----BASIC SETUP-----*/
/*--------------------*/

/* Dark Theme */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html[data-theme="dark"] {
  --document-background-color: #231a17;
  --textCol: #fefcfb;
  --section-bg-col: #180c06;
  --button-bg-col: #29201d;
  --padding-bg-col: #2d2421;
  --ptzButton-bg-col: #29201d;
  --button-hover-col: #5f5a57;
  --invCol: invert(100%);
}

/* Light Theme */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s;
}

html {
  --document-background-color: #e9e0dd;
  --textCol: #1d0e07;
  --section-bg-col: #f9ede7;
  --button-bg-col: #CFC6C4;
  --ptzButton-bg-col: #696563;
  --padding-bg-col: #CFC6C4;
  --button-hover-col: #A8A2A0;
  --invCol: none;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  scroll-behavior: smooth;

}

body {
  background-color: var(--document-background-color);
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
  height: 100%;
  -webkit-touch-callout: none;
  user-select: none;
}

/*--------------------*/
/*-RE-USABLE ELEMENTS-*/
/*--------------------*/

.row {
  max-width: 100%;
  margin: 0 auto;
}

section {
  padding: 0;
  margin: 0;
}

.box {
  padding: 1%;
}

/* -------HEADINGS------- */

h1 {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin: 0;
  color: var(--textCol);
  word-spacing: 4px;
  letter-spacing: 0.2px;
}

p {
  color: var(--textCol);
}

/*-------HEADER SECTION--------*/

#header {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* background-color: var(--section-bg-col); */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); */
}

.linkContainer {
  display: flex !important;
  width: 220px !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
}

.navLink:link,
.navLink:visited {
  padding: 15px 20px;
  font-size: 17px;
  text-decoration: none;
  color: var(--textCol);
  border-radius: 30px;
  font-weight: 400;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  background-color: var(--button-bg-col);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.navLink:hover {
  background-color: var(--button-hover-col);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

#logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#logo {
  width: 50px;
  height: 50px;
  background-color: var(--textCol);
  -webkit-mask: url(../images/PTZ-Logo.svg) no-repeat center;
  mask: url(../images/PTZ-Logo.svg) no-repeat center;
}

#title {
  font-size: 30px;
  font-weight: 800;
  font-style: italic;
  margin-left: 15px;
}

.transitionLink {
  position: absolute;
  color: #6d6d6d;
  padding: 0px;
  aspect-ratio: 1/1;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  z-index: 999;
  top: 50%;
}

.transitionLink:hover {
  transform: scale(1.2);
}

#leftTransitionLink {
  left: 20px;
}

#rightTransitionLink {
  right: 20px;
}

/* -------Main container------- */

#wrapper {
  display: flex;
  width: 100%;
  height: 90%;
  flex-wrap: wrap;
  flex-direction: column;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

#wrapper.transition {
  opacity: 0;
}

/* -------Preview section------- */

#prevContainer {
  opacity: 0;
  display: flex;
  width: 50%;
  height: 60%;
  justify-content: center;
  align-items: center;
  animation: inLeft 1s 1 ease-out forwards;
  -webkit-animation: inLeft 1s 1 ease-out forwards;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

#preview {
  display: flex;
  width: 75%;
  height: 85%;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  background-color: var(--section-bg-col);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#presetPreview {
  width: 90%;
  height: auto;
}

/* -------Controls section------- */

#ctrlContainer {
  opacity: 0;
  display: flex;
  width: 50%;
  height: 40%;
  justify-content: center;
  align-items: center;
  animation: inBelow 0 1s ease-in-out forwards;
  -webkit-animation: inBelow 1s 0.4s 1 ease-out forwards;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

#controls {
  display: flex;
  width: 75%;
  height: 85%;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  background-color: var(--section-bg-col);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  justify-content: center;
  align-items: center;
}

#slidersContainer,
#ptzContainer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slidersContainer {
  margin-left: 10px;

}

.grid-container {
  display: grid;
  padding: 15px;
  gap: 5px;
  justify-content: space-evenly;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  border-radius: 30px;
}

.control {
  background-color: var(--padding-bg-col);
}

.presets {
  width: 100%;
  height: 90%;
  row-gap: 10px !important;
  grid-template-rows: 25% 25% 25% 25% !important;
}

.preferences {
  width: 100%;
  gap: 0;
  grid-template-columns: 50% 50% !important;
  grid-template-rows: 20% 20% 20% 20% 20% !important;
}

.ctrlBtn {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.up {
  grid-column-start: 2;
  grid-row-start: 1;
}

.left {
  grid-column-start: 1;
  grid-row-start: 2;
}

.right {
  grid-column-start: 3;
  grid-row-start: 2;
}

.down {
  grid-column-start: 2;
  grid-row-start: 3;
}

.home {
  grid-column-start: 2;
  grid-row-start: 2;
}

.clearPresets {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: span 3;
  padding: 10px;
}

.ptzButton:link,
.ptzButton:visited {
  display: flex;
  width: 65px;
  height: 65px;
  background-color: var(--ptzButton-bg-col);
  text-decoration: none;
  color: #fefcfb;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.ptzButton:hover {
  background-color: var(--button-hover-col);
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.ptzButton.activeButton {
  transform: scale(0.9);
}

#up {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#down {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Sliders */

#zoom,
#focus {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#zoomSlider,
#focusSlider {
  pointer-events: none;
}

.theme-slider {
  --panel-bg: var(--button-bg-col);
  --panel-bg-fill: var(--button-bg-col);
  --panel-bg-hover: var(--button-bg-col);
}

.plus {
  padding-bottom: 5px;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.plus:hover,
.minus:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.minus {
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}


/* -------Presets section------- */

#pstContainer {
  opacity: 0;
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  animation: inRight 1s 0.2s 1 ease-out forwards;
  -webkit-animation: inRight 1s 0.2s 1 ease-out forwards;
  transition: all 1s !important;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

#presets {
  display: flex;
  width: 45%;
  height: 70%;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  background-color: var(--section-bg-col);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#presetTitleContainer {
  display: flex;
  width: 100%;
  height: 12%;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  background-color: var(--section-bg-col);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  justify-content: center;
  align-items: center;
}

#presetTitle {
  display: none;
  font-size: 40px;
  font-weight: bold;
}

#presetTitle1 {
  display: block;
  font-size: 25px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 1px;
}

#pstBtnContainer {
  display: flex;
  width: 100%;
  height: 88%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#pstButtons {
  display: flex;
  width: 90%;
  height: 70%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pstBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.presetButton {
  display: flex;
  width: 90px;
  height: auto;
  aspect-ratio: 1/1;
  background-color: var(--button-bg-col);
  color: var(--textCol);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.presetButton:link,
.presetButton:visited {
  font-size: 35px;
  font-weight: bold;
  color: var(--textCol);
  border-radius: 20px;
  text-decoration: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 0.4s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.presetButton:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.presetButton:focus {
  outline: none;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

#autoPan {
  display: flex;
  width: 100%;
  height: 14%;
  justify-content: center;
  align-items: center;
}

#panBtn:link,
#panBtn:visited {
  display: flex;
  width: 77%;
  padding: 12px;
  border-radius: 15px;
  text-decoration: none;
  color: var(--textCol);
  font-weight: bold;
  background-color: var(--button-bg-col);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

#clearBtn:link,
#clearBtn:visited {
  display: flex;
  width: 90%;
  padding: 12px 20px;
  border-radius: 15px;
  text-decoration: none;
  color: var(--textCol);
  font-weight: bold;
  background-color: var(--button-bg-col);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  justify-content: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

#panBtn:hover,
#clearBtn:hover {
  background-color: var(--button-hover-col);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

#panBtn.pressed {
  background-color: #5cafd6;
  transform: scale(1.1);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

#clearBtn:active {
  background-color: #5cafd6;
}

/*------------------------*/
/*-PRESET ASSIGNMENT PAGE-*/
/*------------------------*/

#assignPresets,
#prefMenu {
  opacity: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fade 0.5s 0.1s ease-out forwards;
  -webkit-animation: fade 0.5s 0.1s ease-out forwards;
}

#assignPresetsBox,
#prefMenuBox {
  display: flex;
  width: 50%;
  height: 70%;
  min-height: 450px;
  border-radius: 40px;
  background-color: var(--section-bg-col);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#assignPresetsBox {
  height: 60% !important;
}

#prefMenuBox {
  min-height: 500px !important;
}

#titleDiv {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#div1,
#div3 {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#assignTitle,
#prefTitle {
  font-size: 40px;
  font-weight: bold;
  color: var(--textCol);
}

#closeLink:link,
#closeLink:visited {
  color: var(--textCol);
  text-decoration: none;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

#closeLink:hover {
  color: #740000;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.icon {
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

#contentDiv {
  height: 20%;
  margin-bottom: 20px;
}

#one {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
}

#buttonsContainerPRST {
  display: flex;
  width: 60%;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.assign,
.pref {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.asgnCol {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.asgnBtn,
.prefBtn {
  width: 200px;
  height: 70px;
  border-radius: 30px;
  text-decoration: none;
  color: var(--textCol);
  font-weight: bold;
  background-color: var(--button-bg-col);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-content: center;
  flex-direction: column;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  border: none !important;
  outline: none !important;
  text-align: center !important;
}

.asgnBtn {
  width: 120px !important;
}

.asgnBtn:hover {
  background-color: var(--button-hover-col);
  width: 70px !important;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.asgnBtn:active {
  background-color: #36494d;
}

.prefBtn:hover {
  transform: translateY(-5px) !important;
}

.activeButton {
  background-color: #5cafd6 !important;
  box-shadow: 0px 0px 20px rgba(92, 175, 214, 0.5) !important;
}

input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

/*----------------------*/
/*-PREFERENCE MENU PAGE-*/
/*----------------------*/

#prefTitle {
  margin-left: 30px;
}

.prefCol {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  flex-direction: column !important;
}

/* label {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--textCol);
  font-weight: 500;
} */

.prefBtn:link,
.prefBtn:visited {
  display: flex;
  width: 320px;
  height: 60px;
  font-weight: 500;
  margin-bottom: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.prefBtn:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* .dropDown,
#ip {
  width: 320px;
  height: 40px;
  font-weight: 400px;
  padding-inline: 20px;
  background-color: var(--button-bg-col);
  color: var(--textCol);
  border: none;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
} */

.dropDown:hover,
#ip:hover {
  transform: translateY(-5px);
}

#themeToggle {
  cursor: pointer;
}

.rightTransition {
  transform: translateX(-2%) scaleX(102%) !important;
}

.leftTransition {
  transform: translateX(2%) scaleX(102%) !important;
}

.activeRightTransition {
  transform: translateX(110%) scaleX(105%) !important;
}

.activeLeftTransition {
  transform: translateX(-110%) scaleX(105%) !important;
}

.preferences {
  color: white;
}

.dropdown {
  height: 200px;
}

/*---------------------*/
/*-ANIMATION KEYFRAMES-*/
/*---------------------*/

@keyframes inLeft {
  from {
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

@keyframes outLeft {
  from {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  to {
    opacity: 0;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
  }
}

@keyframes inRight {
  from {
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

@keyframes outRight {
  from {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  to {
    opacity: 0;
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
  }
}

@keyframes inBelow {
  from {
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}

@keyframes outBelow {
  from {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }

  to {
    opacity: 0;
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}